/* Common Styles */
body{
    font-family: 'Lato', sans-serif;
}
.btn-color{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 25px;
    
       
}
.p-color{
    color: gray;
}

/* Welcome Bar CSS */
nav{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 97px 120px 0px 150px  ;
    border: 0px;
    margin: 0px;

     justify-content: space-between; 
     align-items: center;  



}
.logo{
    padding-bottom: 0px;
}

.wel-tittle{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
/* Feature CSS */

.featured{
    text-align: center;
    padding: 150px 60px 0px 60px;
    font-size: 20px;
}
.featured-pics{
    display: flex;
    margin-top: 20px;
    padding: 150px ;
    text-align: center;
    text-decoration: underline;
    justify-content: space-between;  
    align-items: center;   
    
}
.img-1{
    width: 210px;
    height: 328px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;

    
}
.img-2{
    width: 270px;
    height: 270px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 78px 58px 76px;
}
.img-3{
    width: 214px;
    height: 330px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 76px;

}
/* Hot Deal CSS */
.hot-deals{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 97px 120px 0px 150px  ;
    border: 97px;
    justify-content: space-between; 
    align-items: center;  

}
/* instagram css */
.Instagram{
    text-align: center;
    padding: 50px 0px 10px 0px;
    font-size: 20px;
}
.instagram-pics img {
       margin-right: 10px;
       padding: 25x; 
      
}      
    
    

.img-5{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.img-6{
    width: 342px;
height: 396px;
flex-shrink: 0;
}
.img-7{
    width: 342px;
height: 396px;
flex-shrink: 0;
}
.img-8{
    width: 342px;
height: 396px;
flex-shrink: 0;
}

/* latest css */
.latest{
    text-align: center;
    padding: 20px 0px 0px 0px;

    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;

}
/* footer css */


.footer {
    color: white;
    text-align: center;
    background-color: black;
  }
  
  .ft-padding {
    padding: 60px;
  }
  
  .footer h3,
  .footer p {
    margin: 0;
  }
  
  .pink {
    color: #E55473;
  }
  .ft-logo{
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    padding: 50px;
    }