/* Common Styles */
body{
    font-family: 'Lato', sans-serif;
}
.btn-color{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 25px;
    
       
}
.p-color{
    color: gray;
}

/* Welcome Bar CSS */
nav{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 97px 120px 0px 150px  ;
    border: 97px;

     justify-content: space-between; 
     align-items: center;  



}

.wel-tittle{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
/* Feature CSS */

.featured{
    text-align: center;
    padding: 50px 0px 0px 0px;
}
.featured-pics{
    display: flex;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    justify-content: space-between; 
    align-items: center;  
    padding: 100px;
}
.img-1{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    
}
.img-2{
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 78px 58px 76px;
}
.img-3{
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 76px;

}